{{> header title=post.title}}

<article class="post">
    <h2>{{post.title}}</h2>
    <p class="author">By {{post.user.username}} on {{post.createdAt}}</p>
    <div class="content">{{post.content}}</div>
</article>

<section class="comments-section">
    <h2>Comments</h2>
    {{#each post.comments}}
        <div class="comment">
            <p>{{this.content}}</p>
            <p class="author">By {{this.user.username}} on {{this.createdAt}}</p>
        </div>
    {{/each}}
    {{#if logged_in}}
        <div class="comment-box">
            <textarea id="comment-content" placeholder="Write a comment..."></textarea>
            <button type="button" data-post-id="{{post.id}}" class="submit-comment">Submit</button>
        </div>
    {{else}}
        <p><a href="/login">Log in</a> to leave a comment.</p>
    {{/if}}
</section>
